
.input{
    margin-top:50px;
}
.meme-library-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2% 3%;
}
@media only screen and (max-width: 600px) {
    .result-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1% 1%;
    }
}
.footer {
    background-color: var(--main-color);
    color: var(--white);
    height: 10rem;
    display: grid;
    align-items: center;
  }